{% extends 'base.html.twig' %}
{% block body %}
    {% if user is not null %}
        <div>
            <a href="{{ path('app_logout') }}"
               style="margin: 0 auto;"
               id="bidd-offer" class="btn btn-success">Wyloguj
            </a>
            <a href="{{ path('user_page') }}"
               style="margin: 0 auto;"
               id="bidd-offer" class="btn btn-success">Ustawienia
            </a>
        </div>
    {% endif %}
    {% if user is not null %}

        <br>
        <br>
        {{ form_start(auctionForm, {'action': path('create_auction')}) }}
        <label for="name">Nazwa produktu</label>
        {{ form_widget(auctionForm.name) }}
        <label for="price">Cena</label>
        {{ form_widget(auctionForm.price) }}
        {{ form_widget(auctionForm.image) }}
        <br>
        <br>
        {{ form_widget(auctionForm.submit) }}
        {{ form_end(auctionForm) }}

    {% endif %}

    {% if user is null %}
        <p>Nie masz konta?</p>
        <a href="rejestracja">Zarejestruj się</a>
        <a href="logowanie">Zaloguj się</a>
        <br>
        <br>
    {% endif %}>


    {% for auction in auctions %}

        <div class="card d-flex"
             style="width: 65vw; margin: 0 auto;"
        >
            <img class="card-img-top w-100"
                 style="height: 60%"
                 src="{{ asset("images/" ~ auction.image) }}">
            <div class="card-body">
                <h5 class="card-title">{{ auction.name }}</h5>
                <p class="card-text">Aktualna cena: {{ auction.price }} zł</p>
                <a class="btn btn-success"
                   href="{{ path('auction_page', { 'auctionId': auction.id}) }}">Sprawdź aukcje!</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
