{% extends 'base.html.twig' %}
{% block body %}
    <div>
    <a href="{{ path('app_logout') }}"
       style="margin: 0 auto;"
       id="bidd-offer" class="btn btn-success">Wyloguj
    </a>
    <a href="{{ path('auctions_page') }}"
       style="margin: 0 auto;"
       id="bidd-offer" class="btn btn-success">Aukcje
    </a>
    <h2>Witaj {{ user.username }}</h2>

    <div>
        {{ form_start(passwordForm, {'action': path('change_password_request')}) }}
        <label for="oldPassword">Aktualne hasło</label>
        {{ form_widget(passwordForm.oldPassword) }}
        <label for="newPassword">Nowe hasło</label>
        {{ form_widget(passwordForm.newPassword) }}
        <br>
        <br>
        {{ form_widget(passwordForm.submit) }}
        {{ form_end(passwordForm) }}
        <div id="alert" class="alert alert-secondary" style="display: none" role="alert"></div>
    </div>
    <div>
        {{ form_start(usernameForm, {'action': path('change_username_request')}) }}
        <label for="login">Login</label>
        {{ form_widget(usernameForm.login) }}
        <label for="password">Hasło</label>
        {{ form_widget(usernameForm.password) }}
        <br>
        <br>
        {{ form_widget(usernameForm.submit) }}
        {{ form_end(usernameForm) }}
    </div>
    <div>
        <h2>Twoje stworzone aukcje</h2>
        {% for addedAuction in addedAuctions %}
            <div class="card" style="width: 18rem; margin: 0 auto;">
                <img class="card-img-top" src="{{ asset("images/" ~ addedAuction.image) }}" alt="Zdjęcie produktu">
                <div class="card-body">
                    <h5 class="card-title">{{ addedAuction.name }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cena: {{ addedAuction.price }}zł</li>
                    {% if addedAuction.lastBidd is not null %}
                        <li class="list-group-item">{{ addedAuction.lastBidd.username }}</li>
                    {% endif %}
                </ul>
                <div class="card-body">
                    <a href="{{ path('auction_page', { 'auctionId': addedAuction.id}) }}">Zobacz aukcje</a>
                </div>
            </div>
            <br>
            <br>
        {% endfor %}
    </div>
    <br>

    <h2>Aukcje w których prowadzisz</h2>
    {% for winningAuction in winningAuctions %}
        <div class="card" style="width: 18rem; margin: 0 auto;">
            <img class="card-img-top" src="{{ asset("images/" ~ winningAuction.image) }}" alt="Zdjęcie produktu">
            <div class="card-body">
                <h5 class="card-title">{{ winningAuction.name }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cena: {{ winningAuction.price }}zł</li>
                {% if winningAuction.lastBidd is not null %}
                    <li class="list-group-item">{{ winningAuction.lastBidd.username }}</li>
                {% endif %}
            </ul>
            <div class="card-body">
                <a href="{{ path('auction_page', { 'auctionId': winningAuction.id}) }}">Zobacz aukcje</a>
            </div>
        </div>
        <br>
        <br>
    {% endfor %}

{% endblock %}