{% extends 'base.html.twig' %}
{% block body %}
    <div>
    <a href="{{ path('app_logout') }}"
       style="margin: 0 auto;"
       id="bidd-offer" class="btn btn-success">Wyloguj
    </a>
    <a href="{{ path('auctions_page') }}"
       style="margin: 0 auto;"
       id="bidd-offer" class="btn btn-success">Aukcje
    </a>
    <h2>Witaj {{ user.username }}</h2>

    <div>
        {{ form_start(passwordForm, {'action': path('change_password_request')}) }}
        <label for="oldPassword">Aktualne hasło</label>
        {{ form_widget(passwordForm.oldPassword) }}
        <label for="newPassword">Nowe hasło</label>
        {{ form_widget(passwordForm.newPassword) }}
        <br>
        <br>
        {{ form_widget(passwordForm.submit) }}
        {{ form_end(passwordForm) }}
        <div id="alert" class="alert alert-secondary" style="display: none" role="alert"></div>
    </div>
    <div>
        {{ form_start(usernameForm, {'action': path('change_username_request')}) }}
        <label for="login">Login</label>
        {{ form_widget(usernameForm.login) }}
        <label for="password">Hasło</label>
        {{ form_widget(usernameForm.password) }}
        <br>
        <br>
        {{ form_widget(usernameForm.submit) }}
        {{ form_end(usernameForm) }}
    </div>
    <div>
    <h2>Twoje stworzone aukcje</h2>
    <div class="list-group" style="max-width: 70vw; margin: 0 auto;">
        {% for addedAuction in addedAuctions %}
      <a href="{{ path('auction_page', { 'auctionId': addedAuction.id}) }}"
       class="list-group-item list-group-item-action flex-column align-items-start">
       <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ addedAuction.name }}</h5>
                  <small>Cena: {{ addedAuction.price }}zł</small>
              </div>
             <p class="mb-1">{{ addedAuction.lastBidd.username }}</p>
            </a>
         {% endfor %}
    </div>

    <br>
    <br>

    <h2>Aukcje w których prowadzisz</h2>
    <div class="list-group" style="max-width: 70vw; margin: 0 auto;">
        {% for winningAuction in winningAuctions %}
      <a href="{{ path('auction_page', { 'auctionId': winningAuction.id}) }}"
       class="list-group-item list-group-item-action flex-column align-items-start">
       <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ winningAuction.name }}</h5>
                  <small>Cena: {{ winningAuction.price }}zł</small>
              </div>
             <p class="mb-1">{{ winningAuction.lastBidd.username }}</p>
            </a>
         {% endfor %}
    </div>
{% endblock %}